.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  min-height: 740px;
  position: relative;
  margin-top: 92px;
}

@media screen and (max-width: 1280px) {
  .cover {
    min-height: 640px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 678px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
}
